hr
	border-top: 1px solid #CCC
	border-bottom: 2px solid white

.driver
	position: absolute
	width: 137px
	height: 264px
	top: 83px
	right: 10%
	background-image: url('logo.png')

.license
	position: absolute
	text-align: left
	bottom: 0
	left: 0

.car
	width: 160px

	&:hover

td.price
	text-align: right

#calendar
	background-color: #C1C1C1


@media (max-width: 480px)
	.driver
		display: none

	.license
		display: none

@media (max-width: 767px)
	.driver
		display: none

	.license
		display: none